<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <!-- Page HTML -->
    <title>TinyApp</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
  <body style="background-color: #212529;">
    <%- include('partials/_header') %>
    <main style="margin: 1em;color: white;">
      <div class="alert alert-dark" role="alert">
        Your saved URLs are below<%= ', ' + user.email %>!
      </div>
      <% if (typeof meddling == 'boolean') { %>
        <div class="alert alert-danger" role="alert" style="margin-top: 1%;margin-right: 40%;">
          You can't edit someone else's links. You could lose your account privileges if you do this.
        </div>
      <% }; %>
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Short URL ID</th>
            <th scope="col">Short URL</th>
            <th scope="col">Long URL</th>
            <th scope="col">Times Used</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for (let id in urls) { %>
            <tr>
              <td><a class="list-group-item list-group-item-action list-group-item-dark" href="/u/<%= id %>"><%= id %></a></td>
              <td><a class="list-group-item list-group-item-action list-group-item-dark" href="/u/<%= id %>">http://localhost:8080/<%= id %></a></td>
              <td><a class= "list-group-item list-group-item-action list-group-item-dark" href="<%= urls[id] %>"><%= urls[id].longURL %></a></td>
              <td><p class="list-group-item list-group-item-action list-group-item-dark"><%= urls[id].useCount %></p></td>
              <td><form method="GET" action="/urls/<%= id %>"><button class="btn btn-primary" style="height: 50px;" type="submit" name="Edit">Edit</button></form></td>
              <td><form method="POST" action="/urls/<%= id %>/delete"><button class="btn btn-danger" style="height: 50px;" type="submit" name="Delete">Delete</button></form></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <form method="GET" action="/urls/new"><button class="btn btn-primary" style="height: 40px;margin: 1em;" type="submit" name="Create new Short URL">Create new Short URL</button></form>
    </main>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>